ZAP_SMSLibrary/NotficationService/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegisterMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantReferenceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchantMobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMerchantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantReferenceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchantMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmRegistrationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMerchantIdsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantReferenceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSMSNotificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>