tmp/ZAP_SMSLibrary/NotficationService/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52416/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52416/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterMerchant_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMerchant" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterMerchant_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConfirmRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRegistration" />
  </wsdl:message>
  <wsdl:message name="IService1_ConfirmRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMerchantIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMerchantIds" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMerchantIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMerchantIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendSMSNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSNotification" />
  </wsdl:message>
  <wsdl:message name="IService1_SendSMSNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterMerchant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterMerchant" message="tns:IService1_RegisterMerchant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterMerchantResponse" message="tns:IService1_RegisterMerchant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConfirmRegistration" message="tns:IService1_ConfirmRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConfirmRegistrationResponse" message="tns:IService1_ConfirmRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMerchantIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMerchantIds" message="tns:IService1_GetMerchantIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMerchantIdsResponse" message="tns:IService1_GetMerchantIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendSMSNotification" message="tns:IService1_SendSMSNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendSMSNotificationResponse" message="tns:IService1_SendSMSNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>